@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    color: white;
}

body {
    background-color: #a4b9ef;
    font-family: 'Inter', sans-serif;
    font-size: larger;
    text-align: center;
}

a {
    color: white;
}

a:hover {
    color: #a4b9ef;
}

h2 {
    color: #a4b9ef;
}

#background {
    margin: 10px 5px;
    border-radius: 8px;
    background-color: black;
}

#noah {
    width: 120px;
    border-radius: 100px;
    margin-top: 40px;
}

#title {
    color: white;
    text-align: center;
    font-weight: 900;
    width: 375px;
    margin-left: auto;
    margin-right: auto;
}

#icon {
    background-color: black;
    padding: 7px 7px 4px 7px;
    margin: 10px;
    border-width: 0px;
    border-radius: 15px;
}

#icon:hover {
    background-color: #a4b9ef;
}

#icons {
    width: 425px;
    margin-left: auto;
    margin-right: auto;
}

#other {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -20px;
    gap: 10px;
}

#support {
    background-color: #eba0ac;
    color: black;
    font-size: medium;
    font-weight: bold;
    align-items: center;
    text-align: center;
    padding: 8px;
    border-width: 0px;
    border-radius: 10px;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
}

#support:hover {
    background-color: #e66287;
}

#savethebus {
    background-color: transparent;
    border-color: transparent;
}

.flex-container {
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#flex-column {
    display: grid;
    flex: 1;
}

#section {
    padding: 15px;
    border-width: 0px;
    border-radius: 15px;
    flex: 1;
    margin-bottom: 20px;
    
}

@media only screen and (max-width: 900px) {
    .flex-container {
        display: grid;
    }

    #other {
        flex-direction: column;
    }

    #section {
        background-color: #1e1e2e;
        width: auto;
    }

    #flex-column {
        margin-top: -10px;
    }

    #title {
        width: 300px;
    }

    #icons {
        width: 250px;
    }

    #noah {
        width: 80px;
    }
}

#section:hover {
    background-color: #1e1e2e;
}

#skills {
    margin-bottom: 20px;
}

#neofetch {
    width: 85%;
    border-radius: 10px;
}

#boxcat {
    width: 60%;
    margin-bottom: 20px;
}

#stuff {
    background-color: #a4b9ef;
    color: black;
    font-size: large;
    font-weight: bold;
    text-align: center;
    padding: 8px;
    border-width: 0px;
    border-radius: 10px;
}

#stuff:hover {
    background-color: black;
    color: #a4b9ef;
}

li {
    margin-left: 10%;
    margin-right: 10%;

    margin-bottom: 25px;
    text-align: left;
}

#cat {
    margin-top: -10px;
    width: 200px;
}

#thumbnail {
    border-radius: 10px;
    width: 40%;
    align-items: right;
}

#error-background {
    border-radius: 10px;
    background-color: black;
    height: 90vh;
    align-items: center;
    padding: 7%;
}

#cat-silhouette {
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    width: 200px;
    border-radius: 100%;
}

#error {
    font-size: 125px;
    font-weight: bolder;
    color: #e66287;
    margin: 2px;
}

#error-text {
    font-size: xx-large;
    font-weight: bolder;
    color: #a4b9ef;
    margin: 2px;
}

#home-icon {
    border-radius: 10px;
    border-width: 0px;
    margin: 20px;
    padding: 6px;

    background-color: black;
}

#home-icon:hover {
    background-color: #1e1e2e;
}
